<footer class="footer-section">
  <div class="footer-container flex-start mg-auto">
    <div class="footer__nav flex-start">
      <a class="btn" href="#projects">PROJECTS</a>
      <a class="btn" href="#about">ABOUT</a>
      <a class="btn" href="#contact">CONTACT</a>
    </div>
    <div class="footer-section__content">
      <div>
        <div class="footer__title">
          <h1 class="title flex-start">
            <span class="footer__title--name">Joakym Girard,</span>
            <span class="footer__title--job">web</span>
            <span class="footer__title--job">developer</span>
          </h1>
        </div>
      </div>
      <div class="footer__buttons">
        <a class="btn footer__btn-resume" href="../../assets/files/Joakym_Girard_Resume.pdf" target="_blank" rel="noreferrer">GET MY RESUME</a>
        <button class="btn btn-dark-border" [matMenuTriggerFor]="menu">
          JOAKYMGIRARD@GMAIL.COM
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="mailto:joakymgirard@gmail.com" target="_blank" rel="nonreferrer">OPEN EMAIL IN CLIENT</a>
          <button mat-menu-item [cdkCopyToClipboard]="'joakymgirard@gmail.com'" (click)="onCopy()">COPY EMAIL ADDRESS</button>
        </mat-menu>
      </div>
      <div class="about-links flex-center">
        <div>
          <a class="linkedin-link" href="https://www.linkedin.com/in/joakym-girard-739370226/" target="_blank" rel="noreferrer">
            <img class="link-image" src="https://www.damiandemasi.com/static/media/icon-linkedin.2cad1ba9.webp" alt="linkedin">
          </a>
          <p>Linkedin</p>
        </div>
        <div>
          <a class="github-link" href="https://github.com/JoakymG" target="_blank" rel="noreferrer">
            <img class="link-image" src="https://www.damiandemasi.com/static/media/icon-github.8d8f94f2.webp" alt="GitHub">
          </a>
          <p>GitHub</p>
        </div>
      </div>
      <div class="footer__made-by">
      </div>
    </div>
  </div>
  <p>Porfolio site made by Joakym Girard, using Angular.</p>
</footer>
