.footer-section {
  text-align: center;
}

.footer-container {
  padding: 1rem;
  margin-top: 4rem;
  gap: 12rem;
  width: 80%;
}

.footer__nav {
  flex-direction: column;
}

.footer__title--name {
  font-size: 1.3rem;
}

.footer__title--job {
  line-height: 3rem;
  font-size: 3rem;
}

.footer__buttons {
  font-size: .8rem;
}

.footer__btn-resume {
  background: #1f2937;
  color: white;
}

.about-links {
  margin-top: 3.5rem;
  justify-content: space-evenly;
  gap: 1rem;

  .link-image {
    width: 3rem;
  }
}

.footer__made-by {
  margin-top: 2rem;
}

p {
  position: relative;
  bottom: 0;
  font-size: .8rem;
  font-weight: lighter;
}
