<header id="header" class="hero-section">
  <div class="hero-container">
    <div>
      <img
        class="hero__profil-picture"
        src="../../assets/images/jg_moutain.jpg"
        alt="Joakym sitting on a rock on the side of a rocky cliff in front of a tree"
      />
    </div>
    <div class="hero-section__content">
      <div>
        <div class="hero__title">
          <h1 class="title flex-start">
            <span class="hero__title--name">Joakym Girard,</span>
            <br />
            <span class="hero__title--job">web</span>
            <br />
            <span class="hero__title--job">developer</span>
          </h1>
        </div>
        <div class="description">
          <p>
            I’m a Web Developer based in Sherbrooke, Canada. Even though my
            journey started as a network IT specialist, coding is my passion and my new
            professional career focus. Developing applications for the web has
            become my drive.
          </p>
        </div>
      </div>
      <div class="hero__buttons">
        <a class="btn hero__btn-resume" href="../../assets/files/Joakym_Girard_Resume.pdf" target="_blank" rel="noreferrer">GET MY RESUME</a>
        <button class="btn btn-dark-border" [matMenuTriggerFor]="menu">
          JOAKYMGIRARD@GMAIL.COM
        </button>
        <mat-menu #menu="matMenu">
          <a mat-menu-item href="mailto:joakymgirard@gmail.com" target="_blank" rel="nonreferrer">OPEN EMAIL IN CLIENT</a>
          <button mat-menu-item [cdkCopyToClipboard]="'joakymgirard@gmail.com'" (click)="onCopy()">COPY EMAIL ADDRESS</button>
        </mat-menu>
      </div>
    </div>
  </div>
</header>
