.popup-container {
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  margin-bottom: 0rem;
  z-index: 500;
  width: 16rem;
  height: 3rem;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  bottom: 0;
  opacity: 0;
  transition: margin-bottom 200ms, opacity 200ms;

  h2 {
    margin: 0;
    background-color: rgb(255, 226, 0);
    background-image: linear-gradient(
      45deg,
      rgba(81, 242, 255, 1) 30%,
      rgba(234, 123, 196, 1) 70%
    );
  }
}

.pop {
  opacity: 1;
  margin-bottom: 1.5rem;
}
