.bg-wave {
  height: 16rem;
  width: 100%;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
}

.wave-top {
  background-image: url('../assets/images/waves/wave_top.svg');
}

.wave-down {
  background-image: url('../assets/images/waves/wave_down.svg');
}

.reverse {
  -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}
