.contact-container {
  margin-top: 4rem;
  flex-direction: column;
  gap: 2.5rem;
  width: 40%;
  overflow: auto;
}

h2 {
  background-color: rgb(255, 226, 0);
  background-image: linear-gradient(
    45deg,
    rgba(255, 226, 0, 1) 35%,
    rgba(81, 242, 255, 1) 64%
  );
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
  margin-top: 3rem;
}

.turn-white {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(90deg)
    brightness(108%) contrast(101%);
}

.contact-links {
  width: 100%;
  justify-content: space-evenly;
}
